<div class="jumbotron">
	<h1>OmniAuth Tester, w/Devise <small>github, twitter, facebook, google</small></h1>
	<%= link_to 'github', user_github_omniauth_authorize_path, class: "btn btn-default" %>
	<%= link_to 'sign-up', new_user_registration_path, class: "btn btn-default" %>
</div>