<div class="jumbotron">
	<h1>OmniAuth Tester, w/Devise <small>github, twitter, facebook, google</small></h1>
	<%= link_to 'github', user_github_omniauth_authorize_path, class: "btn btn-default" %>
	<%= link_to 'facebook', user_facebook_omniauth_authorize_path, class: "btn btn-default" %>
</div>